
body {
    background: rgb(20, 20, 20)
}

p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img.resolution {
    width:25%;
    height:25%;
}

#message {
    background: #363636;
    border: 5px solid #ff5d2c;
    border-radius: 18px;
    margin: 25px 1 20px;
    margin-left: 100px;
    margin-right: 500px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    text-visibility:visible;
}
